*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.h1{
    color: white;
    font-size: 60px;
}
header{
    position: relative;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px;
    z-index: 1;
}

.container{
    width: 60%; 
    margin: 0px auto;

}
hr{
    border: 3px solid white;
    border-radius: 8px;
    margin: 0 0 20px 0;
}
.p{
    color: white;
    display: inline-block;
    width: 60%;
    line-height: 25px;
}
.button1{
    background-color: transparent;
    width: 200px;
    height: 70px;
    color: white;
    outline: none; 
    text-align: center;
    vertical-align: top;
    border: 3px solid white;
    font-size: 16px;
    font-weight: 600;
    
}
.cover{
    position: absolute;
    background-color: rgba(22, 2, 68, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 450px);
    
}
.item{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item:nth-child(1){
    background-image: url(img/pic01.jpg);
}
.item:nth-child(2){
    background-image: url(img/pic02.jpg);
    grid-column: span 2;
}
.item:nth-child(3){
    background-image: url(img/pic03.jpg);
    grid-column: span 2;
}
.item:nth-child(4){
    background-image: url(img/pic04.jpg);
}
.item:nth-child(5){
    background-image: url(img/pic05.jpg);
}
.item:nth-child(6){
    background-image: url(img/pic06.jpg);
    grid-column: span 2;
}
.item-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: ease 0.3s;
    
}
.item-cover:hover{
    background-color: rgba(219, 115, 41, 0);
}
.cover1{
    background-color: rgba(140, 125, 165, 0.7);
}
.cover2{
    background-color: rgba(165, 202, 187, 0.7);
}
.cover3{
    background-color: rgba(216, 164, 148, 0.7);
}
.cover4{
    background-color: rgba(224, 255, 243, 0.7);
}
.cover5{
    background-color: rgba(255, 251, 190, 0.7);
}
.cover6{
    background-color: rgba(173, 225, 255, 0.7);
}
.about{
    position: relative;
    background-color: rgb(50, 50, 88);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px;
    text-align: center;
    
}
.feedback{
    background-color: rgb(50, 50, 88);
    color: white;
    padding: 100px 0px;
}
.feedback form{
    display: grid;
    grid-template-areas: 
    "name_l email_l"
    "name_i email_i"
    "message_l." 
    "message_i message_i"
    "btn."
    ;
    grid-template-rows: minmax(auto, auto) 50px minmax(auto, auto) 150px 50px;
    grid-gap: 15px;
    
}
#name_l{
    grid-area: name_l;
}
#name_i{
    grid-area: name_i;
}
#email_l{
    grid-area: email_l;
}
#email_i{
    grid-area: email_i;
}
#message_l{
    grid-area: message_l;
}
#message_i{
    grid-area: message_i;
}
.feedback button{
    grid-area: btn;
    border: none;
    outline: none;
    background-color: white;
    color: rgb(50, 50, 88);
    font-size: 20px;
}
input, textarea{
    border: none;
    outline: none;
    background-color: rgb(102, 102, 180);
}
.info{
    width: 60%; 
    margin: 0px auto;
    

}
.info p{
    text-align: left;
}
